
/*Below are some classes I used on top of bootsrap framework*/

/*Used for body background color*/
.background-body {
    background-color:#6c757d;
}   
 
/*Used for headers*/
    .background-white {
        background-color: #ffffff;
    }

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

