
/*Below are some classes I used on top of bootsrap framework*/

/*Used for body background color*/
.background-body {
    background-color:#6c757d;
}   
 
/*Used for headers*/
    .background-white {
        background-color: #ffffff;
    }

/*used to make sure that footer stays at bottom and I can still scroll*/
    body {
        display:flex;
        flex-direction: column;
        min-height: 100vh;
    }

